<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} // bukkitrepo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bukkit Repo is a proper repository for bukkit libraries.">
    <meta name="author" content="The Bukkit Repo authors.">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Bukkit Repo</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                {% if projects %}
                <li class="active"><a href="/">Projects</a></li>
                {% else %}
                <li><a href="/">Projects</a></li>
                {% endif %}

                {% if add_project %}
                <li class="active"><a href="/projects/new/">Add a project</a></li>
                {% else %}
                <li><a href="/projects/new/">Add a project</a></li>
                {% endif %}
                
                <li><a href="https://github.com/bukkitrepo/bukkit_repo/issues">Feedback</a></li>
              </ul>
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>

                {% if logged_in %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Dropdown
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/accounts/">Account</a></li>
                    <li><a href="/accounts/log-out/">Log out</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Account
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/accounts/sign-in/">Sign in</a></li>
                    <li><a href="/accounts/register/">Register</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>

    <div class="container">

      {% block content %}{% endblock %}

    </div>

    <footer>
      <div class="container">
        <hr>
        <blockquote>i thought it was going to be php at some point... blissfully ignoring the discussion about virtualenv right in front of me<small>blha303</small></blockquote>
      </div>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>
