{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
<div class="row">
  <div class="span6">
    <p>Bukkit Repo is a website that is used as a centralized source for Bukkit plugins and libraries. This website aggregates artifacts from multiple sources such as BukkitDev and build servers and allows you to download them from one source in multiple ways, such as a direct download or as a maven dependency.</p>

    <p>Say hello! <a href="irc://irc.esper.net:5555/BukkitRepo">join</a> us in IRC.</p>
  </div>

  <div class="span6">
    <strong>Authors</strong><br>
    <a class="author" href="https://forums.bukkit.org/members/sushi.90687782/">
      <div class="headshot" style="background: url('https://minotar.net/avatar/goldblattster/48.png')"></div>
      <p>sushi</p>
    </a>

    <a class="author" href="https://forums.bukkit.org/members/hawkfalcon.90615576/">
      <div class="headshot" style="background: url('https://minotar.net/avatar/hawkfalcon/48.png')"></div>
      <p>hawkfalcon</p>
    </a>

    <a class="author" href="https://forums.bukkit.org/members/gomeow.90728305/">
      <div class="headshot" style="background: url('https://minotar.net/avatar/gomeow/48.png')"></div>
        <p>gomeow</p>
    </a>
  </div>
</div>
{% endblock %}